/*Fuente de la página*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{

   font-family: 'Roboto', sans-serif;
}
section h1
{
    
    text-align: center;
    margin-bottom: 3%;
    color: #6a11cb;
    border-bottom: 2px solid white;
    display: inline-block;
    margin-top: 2%;
    margin-left: 40%;

}

section
{
    width:800px ;
    height: 700px;
    margin: auto;
    margin-top: 6%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
label
{
    color: #6a11cb;;
    font-size: large;
    padding: 4%;
    margin-left: 5%;
    cursor: pointer;
   
}
.Box
{
    width: 80%;
    padding: 2%;
    margin-left: 9%;
    margin-top: 1%;
    margin-bottom: 2%;
    color: black;
    background-color: white;
    
    

}

.button
{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    margin-left: 40%;
    margin-top: 4%;
}

#terminos
{
    margin-left: 35%;
}

/*Para validar si lo que escribe el usuario es valido o no :*/


