/*RESETEAMOS PROPIEDADES*/
*
{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   margin-left: 0px;
   margin-right: 0px;
   text-align: justify;
}

a
{
    text-decoration:  none;
    text-transform: capitalize;
}

/*NAVEGACÍÓN*/
nav 
{
    background-color: #BA83F0;
    height: 30%;
    width: 100%;
    


}

nav ul /* MENU DE LA PARTE SUPERIOR */
{
  text-align: center;
  display: inline;
 
 

}

nav li 
{
    display: inline-block;
    

}
/* Header */
h1
{

}
header img
{

    width: 100%;
    background-image: url("imagenes/fondoHeader.jpg");

}


/* MAIN*/
h2
{
   
    margin-left: 10%;
}
h3
{
    
   
    margin-left: 10%;
}
main 
{
   
}
main section p
{
    width: 28%;
    height: 60%;
    position: relative;
    margin-left: 10%;
    margin-top: 30px;
}


main section  img
{
    
    width: 50%;
    height: 20%;
    
    float: right;
    /* margin-left: 35%; */
    margin-top: 0;
   
    
   
    
}


/* ASIDE */
h4
{
    text-align: center;
}
h5
{
    text-align: center;
}

aside section
{
    margin-top: 40%;
    text-align: center;
}

#mueblesbartop
{
    width: 100%;

}
#mueblesbartop img
{
    width: 20%;
    height: 20%;
}

#muebleslowboy
{
    width: 20%
    
}
#muebleslowboy img
{
    width: 50%;
    height: 20%;
}


/*Footer*/

footer  
{ 
    
}

footer section 
{
  

}
