/*RESETEAMOS PROPIEDADES*/
*
{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   
   
}

a
{
    text-decoration:  none;
    text-transform: capitalize;
}

/* NAV */

nav
{
    background-color: #BA83F0;
    
}
nav ul 
{
    display: inline;
    margin-left: 20%;
}

nav ul li 
{
    display: inline-block;
    width: 10%;
    margin: 5vh;
}
nav ul li i
{
    margin: 1vh;
    display: block;
}
/* enlances del Menu */
nav ul a
{
    color: white;
    font-size: medium;
    text-transform: uppercase;
    margin-left: 1vh;
}

nav ul li:hover
{
    font-weight: bold;
    background-color: blueviolet;
    width: 10%;
    height: 28px;
    border-radius: 5px;
}


.checkbtn
{
    float: right;
    margin-right: 2vh;
    padding: 17px;
    font-size: 30px;

    cursor: pointer;
    display: none;
}
#check
{
    display: none;
}


/*  MENU DESPLEGABLE DEL NAV */

nav ul ul
{
   display: none;
   position: absolute;
   margin-left: 0vh;
   /* text-align: center; */
   
}
nav ul ul li
{
    float: none;
    width: 80%;
    margin: 1vh;
    padding-left:2vh;
    font-size: 5px;
}
nav ul ul a
{ 
    font-size: small;
    color: black;
    
    
    
}

nav ul li:hover > ul
{
    display: block;
    width: 15%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    background-color:blueviolet;
   
}






/* Header */
h1
{
    text-align: center;
    /* border: 5px solid red; */
    font-size: 500%;
    color: white;
    padding-top: 120px;
    
   
}
header p
{
text-align: center;
font-size: x-large;
color: white;
padding-top: 30px;
}

header
{
  
    background: url("imagenes/fondoheader.jpg") no-repeat;
    /* border: 5px solid red; */
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
    
}
header button
{
    font-size: 40px;
    margin-left: 40%;
    margin-top: 8%;
    border-radius: 20px;
    width: 20%;
    height: 100px;
    text-align: center;
    
}



/* MAIN*/
h2
{
    margin-left: 13%;
    padding-top: 80px;
    font-size: 80px;
    font-family: sans-serif;
    color: #BA83F0;

}
/* h3
{
    font-size: 30px;
    margin-left: 16%;
    color: #BA83F0;
} */

section h2
{
    margin-top: 50px;
}

main section p
{
    width: 25%;
    font-size: 25px;
    margin-left: 14%;
    margin-top: 30px;
    padding: 12px;
    padding-bottom: 20px;
}


main section  img
{
    
    width: 50%;
    height: 80%;
    position: absolute;
    float: right;
    margin-left: 45%;
    
}



section h3
{
    
    text-align: center;
    font-size: xx-large;
    background-color: #BA83F0;
    height: 120px;
    margin-top: 25%;
    padding: 30px;
}
h4
{
    text-align: center;
    font-size: x-large;
    color: #BA83F0;
    border-radius: 50px;
    width: 20%;
    height: 50px;
    padding: 10px;
    margin-left: 40%;
    background-color: black;
    
}


/* SECCIONES TIPOS DE MUEBLES */

#mueblesbartop
{
    margin-top: 3%;
    text-align: center;
   
}



#mueblesbartop img
{
    width: 20%;
    border-radius: 10px;
    margin-top: 3%;
    
    
}
#muebleslowboy
{
    margin-top: 10%;
    text-align: center;
}

#muebleslowboy img
{
    width: 20%;
    margin-top: 5%;
}
#goku
{
   
    height: 750px;
}
#street
{
    height: 750px;
}
#pacman
{
    height: 750px;
}
#star
{
    height: 800px;
    
}


/* FOOTER */

h4
{
    text-align: center;
    font-size: x-large;
    color: white;

/* Formato de la caja: */

    border-radius: 30px;
    width: 30%;
    margin-left: 35%;
    background-color: black;
    padding: 20px;
   
}



#contacto  
{ 
    /* border: 5px solid red; */
    background-color: #BA83F0;
    height: 700px;
    margin-top: 10%;
    
}


#contacto h5
{
    margin-top: 60px;
}
#contacto p
{
    margin-top: 50px;
    text-align: center;
    font-size: large;
}
#contacto li
{
    /* border: 5px solid red; */
    margin-top: 10px;
    text-align: center;
}



footer
{
    /* border: 5px solid red; */
    height: 60px;
    background-color:black
   
}
footer p
{
    text-align: center;
    color: #BA83F0;
    width: 100%;
    padding: 20px;
  
    
}


/* Para Aplicar bien el Responsive */
@media(max-width : 952px) /*PARA TABLETS*/
{
    nav
    {
        margin-left: 0;
        
    }
    nav ul
    {
        font-size: 20px;
    }
    nav ul li a
    {
        font-size: 20px;
    }

}




@media(max-width : 858px) /*PARA MOVILES*/
{
    .checkbtn
    {
        display: block;
    }
    nav
    {
        width: 100%;
        height: 80px;
        background-color: blueviolet;
    }
    ul
    {
        position: fixed;
        width: 80%;
        height: 100vh;
        background: #BA83F0;
        top: 80px;
        left: -140%;
        transition: all .3s;
    }

    nav ul li
    {
        display: block;
        width: 50%;
        margin: 30px 0;
        line-height: 10px;
    }
    nav ul li a
    {
        font-size: 15px;
    }
    li.a:hover , li.a.active
    {
        background: none;
        
    }
    li.a:hover > ul 
    {
        background: none;
    }
    #check:checked ~ ul 
    {
        left: 0;
    }



    header button
    {
        display: inline-block;
        width: 40%;
        height: 40px;
        margin-left: 27vh;
        margin-top: 12vh;
        font-size: 20px;
    
    }

    main section
    {
        width: 20%;
        height: 500%;
       
        font-size: 20px;
    }
}
